.city__header {
    font-size: 4rem;
    padding: 1rem;
}

.city{
    background-color: #a3d465;
}

.featured {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: stretch;
    width: 35%;
    padding: 1rem;
}

.featured__header {
    font-size: 2rem;
    padding: 1rem;
    margin-bottom: -1rem;
    float: right;
}

.address {
    margin-bottom: 1rem;
    margin-top: -2rem;
    font-size: 2rem;
    padding: 1rem;
}

.flavors {
    display: flex;
    flex-wrap: wrap;
    padding: 0.5rem;
    font-size: 1rem;
    padding: 1rem;
}

.flavor{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 3rem;
}

.flavor__header {
    padding: 1rem;
    font-size: 2rem;
}

.image{
    padding: 1rem;
}

.flex {
    display: flex;
    flex-wrap: wrap;
}